  <script src="https://use.typekit.net/xif5hiw.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="/js/template.js"></script>
  <script id="dsq-count-scr" src="//oefweek6-1.disqus.com/count.js" async></script>

  <img class="icoon"src="https://image.freepik.com/free-icon/facebook-square-logo_318-40275.jpg">
  <img class="icoon"src="http://www.arthousemeath.com/wp-content/uploads/2016/03/instagram-xxl.png">
  <img class="icoon"src="https://static1.squarespace.com/static/55d627b4e4b0e7b6ec27c925/t/569037a14bf1182ee6f2733e/1452292001651/Pinterest-2-128.png">
  </body>
</html>
