<% include header %>
<h4> Over M HKA </h4>
<img class="mhkafoto"src="http://s3.amazonaws.com/contemporaryartgroup/wp-content/uploads/2013/04/Jos-de-Gruyter-Harald-Thys-exhibition-view3-photo-M-HKAcc.jpg">
<p> In 1947 wou Lode Craeybeckx een polyvalent gebouw voor culturele activiteiten oprichten: hij stelde voor om in het stadspark een Paleis van de Bevrijding te bouwen, een plaats voor concerten en andere culturele manifestaties, maar in het bijzonder voor moderne kunst. Door de slechte financiële situatie van het naoorlogse Antwerpen werden deze plannen echter al snel opgeborgen. In het begin van de jaren zestig deed Craeybeckx als burgemeester een tweede poging om een (rijks)museum voor moderne kunst te bouwen. Deze keer had hij het perceel tegenover het Koninklijk Museum voor Schone Kunsten (KMSKA) in gedachten, de plaats waar de Hippodroomschouwburg in verval stond. Ook hier maakte het kostenplaatje een einde aan de plannen.</p>
<% include footer %>
